//font
$main: "Just Another Hand", cursive;


$incomplete: #FDB3A4;
$complete: #D1DBCD;

//light mode
$primary-light: #131313;
$bg-light: #B8CEC2;
$bg-list-light: #F8E6CE;
$mark-light: #EBC8B4;
// $box-light: #D1DBCD; 


//dark mode
 $primary-dark: #EFF4F9;
 $bg-dark: #465375;
$bg-list-dark: #959BBD;
$mark-dark: #F3DBE9;
$box-light: #C0D3E4; 

  
  