$themes: (
  light: (
    $primary-light: #131313,
    $bg-light: #b8cec2,
    $bg-list-light: #f8e6ce,
    $mark-light: #ebc8b4,
    $box-dark: #d1dbcd,
  ),
  dark: (
    $primary-dark: #eff4f9,
    $bg-dark: #465375,
    $bg-list-dark: #959bbd,
    $mark-dark: #f3dbe9,
    $box-dark: #c0d3e4,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

// Usage example:
@include themify($themes) {
  .theme-light {
    // This will be applied with light theme variables
    background-color: themed($bg-light);
  }

  .theme-dark {
    // This will be applied with dark theme variables
    background-color: themed($bg-dark);
  }
}
