@import '/variables.scss';

/* App.scss */
body {
    background-color: var(--bg-color);
    overflow: hidden;
  }
  
  .App {
    color: var(--primary-color);
    background-color: var(--bg-color);
    height: 100vh;

  }
  