@import '/variables.scss';

#root {
    /* Add your styles here */
    box-sizing: border-box;
    font-family: $main; /* Example font family */

    padding: 0px;
    margin: 0;
    /* Add any other styles you want to apply */
   
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }